.app-footer {
	padding: 1em 1em .5em;
	background-color: var(--clr1);

	color: var(--clr1bg);
    font-size: .9em;
}

.app-footer p {
    margin: 0;
    text-align: start;
}

.app-footer .cart-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    margin-block-end: 1em;
}

.app-footer .product-count {
    margin-inline-start: auto;
}

.cart-stats button {
    padding: 0.1em .3em;
}