.login-page form {
    display: flex;
    justify-content: end;
    gap: .5em;

    margin-block-start: 1em;
}

.btns {
    display: flex;
    justify-content: end;

    margin-block-start: .5em;

    font-size: .8em;
}